// vars
$blue: #085394;
$black: #1f1f21;
$grey: #666;

// layout
@import "../bower/normalize-css/normalize";
@import "../bower/qtip2/jquery.qtip";
@import "_misc/mixins";
@import "_misc/adjustment";

// styles
@import "sections/common";
@import "sections/post";
@import "sections/comments";
@import "sections/form";
@import "sections/qtip";