@mixin inlineblock($valign: top) {
	display: inline-block;
	vertical-align: $valign;
}

@mixin border-radius($fifty) {
	-webkit-border-radius: $fifty;
	-moz-border-radius: $fifty;
	border-radius: $fifty;
}	

%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}