@mixin inlineblock($valign: top) {
	display: inline-block;
	vertical-align: $valign;
}

@mixin border-radius($fifty) {
	-webkit-border-radius: $fifty;
	-moz-border-radius: $fifty;
	border-radius: $fifty;
}

@mixin transform($rotate) {
	-webkit-transform: $rotate;
	-moz-transform: $rotate;
	-ms-transform: $rotate;
	-o-transform: $rotate;
	transform: $rotate;
}

@mixin transition($tr) {
	-webkit-transition: $tr;
	-moz-transition: $tr;
	-o-transition: $tr;
	transition: $tr;
}	

%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}